.articles {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.places {
    margin-bottom: 4rem;
}
.places h1 {
    font-size: 30px;
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
    margin: 0px;
    margin-top: 30px;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border:  #FF5A5F  1px solid; 
    border-radius: 4px;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    font-size: 30px;
}

.price_by_night {

    color: #FF5A5F;
    border:  #FF5A5F 4px solid;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: right;
    vertical-align: top;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    height: 80px;
    border: 1px 0px 1px 0px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest {
    width: 100px;   
}

.max_guest p {
    margin: 0px;
}

.guest_img {
    background-image: url("/images/icon_group.png");
    background-repeat: no-repeat;
    height: 50px;  

}

.number_rooms {
    width: 100px;
}

.number_rooms p {
    margin: 0px;
}

.rooms_img {
    background-image: url("/images/icon_bed.png");
    background-repeat: no-repeat;
    height: 50px;

}

.number_bathrooms {
    width: 100px;
}
.number_bathrooms p{
    margin: 0px;
}
.bathrooms_img {
    background-image: url("/images/icon_bath.png");
    background-repeat: no-repeat;
    height: 50px;

}